[data-lottie] {
	position: relative;
}

[data-lottie].lottie-img-hidden img {
	visibility: hidden;
}

[data-lottie] canvas {
	position: absolute;
	inset: 0 0 0 0;
	width: 100%;
	height: auto;
	max-width: 100%;
	z-index: 2; /* Modest z-index by default, but may need to be overridden for other cases. */
}
