[class*="wp-block-"][data-lottie],
[class*="wp-block-"][data-lottie] .wp-block-media-text__media {
	position: relative;
}

[class*="wp-block-"][data-lottie].lottie-img-hidden img {
	visibility: hidden;
}

[class*="wp-block-"][data-lottie] canvas {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: 0 0;
	transform: translate(-50%, -50%);
	width: 100%;
	max-height: 100%;
}

.wp-block-cover[data-lottie] canvas {
	object-fit: cover;
	z-index: 0;
	width: 100%;
	height: 100%;
	max-height: none;
	top: 0;
	left: 0;
	transform: none;
	translate: none;
}

.wp-block-cover[data-lottie] .wp-block-cover__inner-container {
	z-index: 1;
}

[class*="wp-block-"][data-lottie].lottie-initialized canvas {
	opacity: 1;
}
