[data-lottie],
[data-lottie] .wp-block-media-text__media {
	position: relative;
}

[data-lottie].lottie-img-hidden img {
	visibility: hidden;
}

[data-lottie] canvas {
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	translate: 0 0;
	transform: translate(-50%, -50%);
	width: 100%;
	max-height: 100%;
}

[data-lottie].lottie-initialized canvas {
	opacity: 1;
}

.lottie-lite-reduced-motion-canvas {
	opacity: 1 !important;
}
