[data-lottie],
[data-lottie] .wp-block-media-text__media {
	position: relative;
}

[data-lottie].lottie-img-hidden img {
	visibility: hidden;
}

[data-lottie] canvas {
	position: absolute;
	inset: 0 0 0 0;
	width: 100%;
	height: auto;
	max-width: 100%;
	/* Modest z-index by default for overlay, but may need to be overridden for other cases. */
	z-index: 2;
}

.wp-block-cover[data-lottie] .wp-block-cover__inner-container,
.wp-block-cover-image[data-lottie] .wp-block-cover__inner-container {
	z-index: 3;
}
